@using OnlineTicariOtomasyon.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Personeller</h2>
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Personel Id</th>
        <th>Personel Ad</th>
        <th>Personel Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.EmployeeId</td>
            <td>@e.EmployeName</td>
            <td>@e.EmployeSurname</td>
            <td>@e.EmployeImage</td>
            <td>@e.Department.DepartmentName</td>
            <td><a href="/Employee/BringEmployee/@e.EmployeeId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/SalesDepartmentEmploye/@e.EmployeeId" class="btn btn-info">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Employee/AddEmployee" class="btn btn-primary">Yeni Personel</a>

